.add-tasks-container {
    position: absolute;
    left: 27%;
    z-index: 10;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.add-task-form__maintainer {
    margin: 10px;
}

.maintainer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: min-content;
    height: 100px;
}

.form-btn {
    margin: 10px;
}