.nav-menu__nav-item {
    text-decoration: none;
    background-color: white;
    padding: 3px;
    border-radius: 8px;
}

.nav-menu__nav-item:hover {
    box-shadow: 5px 2px 5px white;
}

.header-menu-container__nav-menu {
    display: flex;
    flex-direction: row;
    min-width: min-content;
    justify-content: space-evenly;
    width: 100%;
}

.header-menu-container {
    width: 60%;
}